include *.txt
include ChangeLog
include LICENSE*
include MANIFEST.in
include README.*
include pkg/*
include setup.*
include tox.ini
include examples/*
recursive-include src *.py
recursive-include tests *.py *.bats *.txt
